<div class="center">
    <section id="content">
        <h1 class="subheader">{{page_title}}</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <!--Para tener mejor organizado se declara esta clase-->
            <div class="form-group">
                <label form="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />

                <small *ngIf="!title.valid && title.touched">
                    El nombre no es válido
                </small>
            </div>

            <div class="form-group">
                <label form="content">Contenido</label>
                <textarea type="text" name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>

                <small *ngIf="!content.valid && content.touched">
                     Contenido no válido
                </small>
            </div>

            <div class="form-group">
                <div class="image-thumb" *ngIf="is_edit">
                    <img src="{{ url + '/get-image/' +article.image}}" alt="{{article.title}}" *ngIf="article.image" />
                    <img src="assets/images/kiwi.svg" alt="{{article.title}}" *ngIf="!article.image" />
                </div>
                <angular-file-uploader [config]="afuConfig" (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="enviar" class="btn btn-success" [disabled]="articleForm.invalid" />

        </form>

    </section>

    <app-sidebar></app-sidebar>
</div>